.placeholder input{
	width:350px;
}


.mynav{
	
	background:rgb(255, 71, 26);
	
}
.mynav ul li a{
	 
	color:#fff ! important;
}

.head{
	background:rgb(255, 71, 26);	
	
	
}
.img img{
	
	width:100%;
	height:100%;
	
}
.myicons i{
	width:100%;
	/* height:3px; */
	color:rgb(255, 71, 26);
	font-size:45px;
}